@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.navscroll::-webkit-scrollbar {
    width: 5px;
}

.navscroll::-webkit-scrollbar-track {
    /* background: #121418; */
}
.navscroll::-webkit-scrollbar-thumb {
    background-color: #0d9488;
    border-radius: 6px;
}
.mainscroll::-webkit-scrollbar {
    width: 7px;
}

.mainscroll::-webkit-scrollbar-track {
    /* background: #121418; */
}
.mainscroll::-webkit-scrollbar-thumb {
    background-color: #0d9488;
    border-radius: 6px;
}

.blue-1 {
    background: #222433;
}
.hover\:nav:hover {
    background: rgba(45, 212, 190, 0.24);
    backdrop-filter: blur(100rem);
}
@layer components {
    .nav-links {
        @apply flex space-x-2 p-2 rounded-md items-center hover:nav;
    }
    .nav-icons {
        @apply p-1 rounded-full flex justify-center items-center;
    }
    .input-primary {
        @apply rounded-md border-2 focus:ring-purple-500 border-purple-300 bg-purple-50 focus:border-purple-500 w-full;
    }
    .input-error {
        @apply rounded-md border-2 focus:ring-red-500 focus:border-red-500  border-red-300 bg-red-50 w-full;
    }
}

.blur {
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(40rem);
}
